body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
}

div {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
    font-family: 'Ubuntu Light', sans-serif;
    margin: 0;
}

h3 {
    font-size: 20px;
    font-family: 'Ubuntu Light', sans-serif;
    margin: 0;
}

h4 {
    font-size: 15px;
    font-family: 'Ubuntu Light', sans-serif;
}

.bigIcon {
    font-size: 50px;
    color: #000;
    margin-right: 20px;

}

.wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    /*text-align: center;*/
    filter: blur(100px);
}

.background {
    width: 100%;
    min-height: 0;

}

.top {
    width: 100%;
    height: 100%;
    min-height: 360px;
}

.topBackground {
    width: 100vw;
    height: 100vh;
    background: url("orion.jpeg") no-repeat center center fixed;
    background-size: cover;
    z-index: -99;
}

.topContainer {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    -ms-transform: translateY(-50%); /* IE 9 */
    transform: translateY(-50%); /* IE 10, Fx 16+, Op 12.1+ */
    z-index: 0;
}

.name {
    text-align: center;
    width: 100%;
    font-family: 'Pacifico', sans-serif;
    font-size: 70px;
    color: white;
}

.description {
    /*left: 20%;*/
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.innerContent {
    padding-left: 5%;
    padding-right: 5%;
}

.center {
    text-align: center;
}

.screenshot {
    width: 20%;
    margin: 2.2%;
}

.title {
    float: left;
    margin-left: 7%;
    color: #FFFFFF;
    font-size: 25px;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.menuimg {
    float: left;
    position: relative;
    height: 100%;
    max-width: 100%;

}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 5%;
    /*padding-left: 5%;*/
    z-index: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.even {
    background-color: #E1E1E1;
    padding: 50px 150px;
}

.odd {
    background-color: #ebebeb;
    padding: 50px 150px;
}


.bottom {
    text-align: center;
    width: 100%;
    background-color: #E1E1E1;
    height: 80px;
}

.bottomText {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%);
}


.bottomIcon {
    height: 20px;
    max-width: 100%;
}


/*WIDE SCREENS*/
@media only screen and (min-width: 1024px){
    .name{
        font-size: 84px;
        letter-spacing:6px;
    }
    .description{
        font-size: 39px;
        letter-spacing:4px;
    }
}

/*iPad*/
@media only screen and (max-width: 768px) {
    .name{
        font-size:58px;
        letter-spacing:0;
    }
    .description{
        font-size:34px;
        letter-spacing:0;
    }
}




/*mobile*/
@media only screen and (max-width: 500px) {
    .name{
        font-size:39px;
    }
    .description{
        font-size:26px;
    }
    .screenshot {
        width: 50%;
    }
    h3 {
        font-size: 25px;
    }
    .innerContent {
        padding: 0;
    }
}
